body
{
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif;
	font-size: small;
	background-color: #f3f3f3;
	line-height: 140%;
	color: #303030;
}
div{ margin: 10px; font-family:  "Lucida Grande", "Lucida Sans Unicode", Geneva, Arial, Helvetica, sans-serif; }
a{ color: #303030; }
a:hover{ color: black; }
h1, h2{ margin: 2px 10px; padding: 5px; border-bottom: 1px solid #C8C8C8; }
code{ background-color: #FFFFBF; }
div.explanation{ background-color: #FEFEFE; border: 1px solid #C8C8C8; padding: 5px 8px; }
div.explanation p{ margin: 5px 0 10px; padding: 0; }
div.code{ background-color: #fff; padding: 5px 8px; border: 1px solid #C8C8C8; }
div.code pre{ margin: 0; padding: 0; }
div.code code{ background: white; color: black; }
#footer{ font-size: 85%; color: #BBBBBB; }
#footer a{ color: #BBBBBB; }
.spacer{ margin-top: 45px; }

img.image{ display: none; }

dl#officeMap
{
	margin: 0;
	padding: 0;
	background: transparent url("office.jpg") top left no-repeat;
	height: 262px;
	width: 350px;
	position: relative;
}

dt{ margin: 0; padding: 0; position: absolute; font-size: 85%; display: none; }
dd{ margin: 0; padding: 0; position: absolute;  font-size: 85%; }

dd#monitorDef{ top: 65px; left: 114px; }
dd#monitorDef a{ position: absolute; width: 73px; height: 69px; text-decoration: none; }
dd#monitorDef a span{ display: none; }
dd#monitorDef a:hover
{ 
	position: absolute; background: transparent url("office.jpg") -109px -317px no-repeat; top: -10px; left: -5px; 
}
dd#monitorDef a:hover span{
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000;
	background-color: #F4F4F4;
	font-weight: bold;
	position: absolute;
	border: 1px solid #BCBCBC;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	width: 250%;
}

dd#phoneDef{ top: 111px; left: 211px; }
dd#phoneDef a{ position: absolute; width: 56px; height: 46px; text-decoration: none; }
dd#phoneDef a span{ display: none; }
dd#phoneDef a:hover{ background: transparent url("office.jpg") -211px -373px no-repeat; }
dd#phoneDef a:hover span{
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000;
	background-color: #F4F4F4;
	font-weight: bold;
	position: absolute;
	border: 1px solid #BCBCBC;
	bottom: 100%;
	margin: 0;
	padding: 5px;
	width: 250%;
}

dd#caseDef{ top: 165px; left: 168px; }
dd#caseDef a{ position: absolute; width: 81px; height: 87px; text-decoration: none;	}
dd#caseDef a span{ display: none; }
dd#caseDef a:hover{ background: transparent url("office.jpg") -168px -427px no-repeat; }
dd#caseDef a:hover span{
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000;
	background-color: #F4F4F4;
	font-weight: bold;
	position: absolute;
	border: 1px solid #BCBCBC;
	top: 100%;
	margin: 0;
	padding: 5px;
	width: 250%;
}

dd#notebookDef{ top: 101px; left: 72px; }
dd#notebookDef a{ position: absolute; width: 96px; height: 54px; text-decoration: none; }
dd#notebookDef a span{ display: none; }
dd#notebookDef a:hover{ background: transparent url("office.jpg") -72px -625px no-repeat; }
dd#notebookDef a:hover span{
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000;
	background-color: #F4F4F4;
	font-weight: bold;
	position: absolute;
	border: 1px solid #BCBCBC;
	top: 100%;
	margin: 0;
	padding: 5px;
	width: 150%;
}

dd#floppyDef{ top: 126px; left: 45px; }
dd#floppyDef a{ position: absolute; width: 64px; height: 39px; text-decoration: none; }
dd#floppyDef a span{ display: none; }
dd#floppyDef a:hover{ background: transparent url("office.jpg") -45px -388px no-repeat; }
dd#floppyDef a:hover span{
	display: block;
	text-indent: 0;
	vertical-align: top;
	color: #000;

	background-color: #F4F4F4;
	font-weight: bold;
	position: absolute;
	border: 1px solid #BCBCBC;
	top: 100%;
	left: 1px;
	margin: 0;
	padding: 5px;
	width: 150%;
}